/* **********************************
******************* Form container */
.form {
    max-width:  600px;
}
.form__name {
    font-family: var(--font-josefin);
    font-size: 1.10rem;
    letter-spacing: .02em;
}

/* **********************************
******************* Form group */
.form__group {
    margin-bottom: 20px;
}
.form__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.form__item {
    margin-top: 30px;
}

/* **********************************
******************* Form input & textarea */
.form__input,
.form__textarea {
    border: none;
    border-bottom: 2px solid var(--light-black);
    border-radius: 4px;
    width: 100%;
    font-size: .9rem;
    padding: 0px 8px 2px;
    color: var(--light-black);
}
.form__label {
    display: block;
    font-size: 0.875rem;
    color: var(--dark-blue);
    font-family: var(--font-crimson);
    letter-spacing: .03em;
    margin-top: 2px;
    margin-left: 8px;
}
.form__textarea {
    height: 150px;
}
.form__label_invisible{
    display: none;
}


/* **********************************
******************* BTN */
.btn{
    display: flex;
    justify-content: flex-end;
}
.btn__item {
    display: block;
    font-size: 0.9375rem;
    font-family: var(--font-crimson);
    letter-spacing: .1em;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 0;
    padding: 10px 15px;
    margin-right: 30px;
    background-color: white;
    cursor: pointer;
}
.btn__item:hover {
    color: white;
    background-color: var(--dark-blue);
}

/* **********************************
******************* Info */
.info{
    position: fixed;
    z-index: 1000000;
    background-color: rgba(3, 3, 3, .1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.info__none {
    display: none;
}
.info__textBox {
    background: white;
    padding: 15px 30px;
    border-radius: 10px;
    outline: 5px solid var(--dark-blue);
}
.info__text {
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-family: var(--font-crimson);
}