/* **************************************
********************* Container */
.navbar {
    padding-block: 5px;
    background-color: white;
    z-index: 1000;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* **************************************
********************* Button */
.navbar__btn {
    margin-right: 10px;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--light-black);
}

/* **************************************
********************* Nav */
.navbar__nav {
    position: absolute;
    background-color: white;
    top: 60px;
    width: 100%;
    transform: translateY(-250px);
    z-index: 10;
    transition: .2s all ease-in;
}
.navbar__nav_active {
    transform: translateY(0);
    transition: .2s all ease-out;
}
.nav__list{
    list-style: none;
    text-align: center;
}
.nav__item{
    border-bottom: 1px solid var(--dark-blue);
    padding-block: 20px;
    cursor: pointer;
}
.nav__link {
    display: block;
    font-size: 1.2rem;
    letter-spacing: .08em;
    color: var(--light-black);
    font-family:  var(--font-josefin);
    width: 100%;
}
.nav__item:hover {
    background-color: var(--light-gray);
}

/* **************************************
********************* Nav */
@media screen and (min-width: 700px){
    .navbar__btn{
        display: none;
    }
    .navbar__nav {
        position: static;
        transform: translateY(0);
        margin-right: 40px;
    }
    .nav__list {
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .nav__item{
        border-bottom: none;
    }
    .nav__item:not(:first-child) {
        margin-left: 50px;
    }
    .nav__item:hover {
        background-color: white;
        border-bottom: 1px solid var(--light-black);
        padding-bottom: 4px;
    }   
}

@media screen and (min-width: 900px){

    .nav__item:not(:first-child) {
        margin-left: 70px;
    }
}

@media screen and (min-width: 1200px){

   .navbar__nav{
       margin-right: 0;
   }
}

