/* *******************************
********************  Footer */
.footer {
    background-color: var(--dark-blue);
    padding: 30px 40px;
    color: white;
    font-family: var(--font-josefin);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5em;
}
