.titleBox {
    margin-top: 30px;
    width: 96%;
    max-width: 1220px;
    margin-inline: auto;
}

.titleBox h2 {
    font-family: var(--font-josefin);
    font-size: 2.2rem;
    color: var(--light-black);
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

/* Galery */
.galleryBox {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.galleryItem {
    width: 100%;
}

/* Img box */
.imgBox {
    position: relative;
    overflow: hidden;
    height: 60vw;
    width: 100%;
}
.imgBox img {
    width: 100%;
}

/* Text box */
.textBox {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-inline: 45px;
}
.textBox h3 {
    font-size: 1.5625rem;
    color: var(--dark-blue);
    font-family: var(--font-crimson);
    font-weight: 600;
    letter-spacing: .1em;
}
.textBox p {
    margin-top: 10px;
    font-size: 1.25rem;
    font-family: var(--font-josefin);
    font-weight: 600;
    letter-spacing: -.01em;
    color: var(--grayish-blue);
}

@media screen and (min-width: 600px) {
  .galleryItem {
      width: 49%;
  }
  .imgBox {
      height: 30vw;
  }
}

@media screen and (min-width: 700px) {
    .titleBox h2 {
        margin-top: 40px;
        font-size: 2.8rem;
        text-align: start;
    }
}

@media screen and (min-width: 900px) {
    .titleBox h2 {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 1000px) {
    .titleBox h2 {
        font-size: 4rem;
    }

    .galleryItem {
        width: 32.5%;
    }

    .imgBox {
        height: 20vw;
    }

}