
.home {
    padding-top: 20px;
    padding-inline: 40px;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.home__boxTitle {
    background-color: hsla(0, 0%, 100%, 0.88);
    width: 90%;
    max-width: 650px;
    border-radius: 80px;
    padding-top: 80px;
    padding-bottom: 60px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-crimson);
}

.home__title {
    font-family: var(--font-josefin);
    font-weight: 600;
    letter-spacing: 0.2em;
    color: var(--light-black);
    font-size: 2rem;
}

.home__subTitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    font-style: italic;
    color: var(--dark-blue);
    letter-spacing: 0.1em;
}

.nav__list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item:not(:first-child) {
    margin-left: 50px;
}

.nav__link {
    font-size: 1.25rem;
    font-style: italic;
    color: var(--black);
    letter-spacing: 0.08em;
    cursor: pointer;
}
.nav__link:hover {
    color: var(--grayish-blue);
    text-decoration: underline;
}

@media screen and (min-width: 550px) {
    .home__boxTitle {
        width: 70%;
    }
}

@media screen and (min-width: 650px) {
    .home__boxTitle {
        width: 70%;
    }

    .home__title {
        font-size: 2.5rem;
    }

    .home__subTitle {
        font-size: 1.6rem;
    }

    .nav__link {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 800px) {
    .home__title {
        font-size: 2.8rem;
    }

    .home__subTitle {
        font-size: 1.8rem;
    }

    .nav__link {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 900px) {
    .home__title {
        font-size: 3.5rem;
    }

    .home__subTitle {
        font-size: 2.4rem;
    }

    .nav__item:not(:first-child) {
        margin-left: 100px;
    }

    .nav__link {
        font-size: 1.6rem;
    }
}
