.home {
    padding-top: 10px;
    height: 100vh;
    width: 100%;
    background-image: url("../public/asset/mariage-1.jpg");
    background-position: center;
    background-size: cover;
}

.logoBox {
    width: 60px;
    margin-left: 10px;
}

.logoBox img {
    width: 100%;
}

.boxTitle {
    background-color: hsla(0, 0%, 100%, 0.88);
    width: 90%;
    max-width: 650px;
    border-radius: 80px;
    padding-top: 80px;
    padding-bottom: 60px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-crimson);
}

.boxTitle h1 {
    font-family: var(--font-josefin);
    font-weight: 600;
    letter-spacing: 0.2em;
    color: var(--light-black);
    font-size: 2rem;
}

.boxTitle h2 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    font-style: italic;
    color: var(--dark-blue);
    letter-spacing: 0.1em;
}

.boxTitle ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxTitle li:not(:first-child) {
    margin-left: 50px;
}

.boxTitle a {
    font-size: 1.25rem;
    font-style: italic;
    color: var(--black);
    letter-spacing: 0.08em;
    cursor: pointer;
}
.boxTitle a:hover {
    color: var(--grayish-blue);
    text-decoration: underline;
}

@media screen and (min-width: 550px) {
    .boxTitle {
        width: 70%;
    }
}

@media screen and (min-width: 650px) {
    .boxTitle {
        width: 70%;
    }

    .boxTitle h1 {
        font-size: 2.5rem;
    }

    .boxTitle h2 {
        font-size: 1.6rem;
    }

    .boxTitle a {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 800px) {
    .boxTitle h1 {
        font-size: 2.8rem;
    }

    .boxTitle h2 {
        font-size: 1.8rem;
    }

    .boxTitle a {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 900px) {
    .logoBox {
        width: 80px;
        margin-left: 30px;
    }

    .boxTitle h1 {
        font-size: 3.5rem;
    }

    .boxTitle h2 {
        font-size: 2.4rem;
    }

    .boxTitle li:not(:first-child) {
        margin-left: 100px;
    }

    .boxTitle a {
        font-size: 1.6rem;
    }
}
